<div class="product-page">
  <div class="page-header" style="background-image: url('../../assets/img/collection/sunrise-phu-quoc-island-ocean.jpg'); transform: translate3d(0px, 133.333px, 0px);"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card" style="padding: 25px;margin-bottom: 50px;">
                  <div class="container">
                      <div class="row">
                          <div id="product" class="col-md-12 mr-auto text-center">
                              <h2>Our Store</h2>
                              <hr class="bottom-line">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3" style="margin-bottom: 25px;">
                              <app-sidebar></app-sidebar>
                          </div>
                          <div class="col-md-9">
                              <app-tabcontent></app-tabcontent>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>