<div class="product-page">
  <div class="page-header" style="background-image: url('../../assets/img/slider/pexels-photo-714023.jpeg'); transform: translate3d(0px, 133.333px, 0px);"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding: 25px;margin-bottom: 50px;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto text-center">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                <hr class="bottom-line">
                <img src="../../assets/img/slider/dw-lp-ming-banner-desk.jpg">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <h5><i class="fas fa-phone"></i> 038 604 6002 </h5>
                <h5><i class="fas fa-map-marker-alt"></i> Đường số 19, Công viên phần mềm Quang Trung, Q.12, TP.HCM</h5>
                <h5><i class="fas fa-envelope"></i> phongpham2140051@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>