<div class="product-page">
  <div class="page-header" style="background-image: url('../../assets/img/slider/pexels-photo-714023.jpeg'); transform: translate3d(0px, 133.333px, 0px);"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding: 25px;margin-bottom: 50px;">
          <div class="container">
            <div class="row">
              <div id="product" class="col-md-12 mr-auto text-center">
                <h2>Shopping Cart</h2>
                <hr class="bottom-line">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover table-bordered text-center table-responsive-md">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Hình Ảnh</th>
                      <th scope="col">Tên Sản Phẩm</th>
                      <th scope="col">Số Lượng</th>
                      <th scope="col">Giá</th>
                      <th scope="col">Sale</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><img style="width: 100px; height: 100px" src="../../../assets/img/product/mens-day-bundle-2.jpg"></td>
                      <td>SHEFFIELD + CORNWALL</td>
                      <td><input  style="text-align: center;" class="form-control" type="number" placeholder="1"></td>
                      <td>5.850.000 đ</td>
                      <td>4.680.000 đ</td>
                      <td><i style="cursor:pointer;" class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top"
                          title="Remove"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><img style="width: 100px; height: 100px" src="../../../assets/img/product/dw00500242_no_wrapping.jpg"></td>
                      <td>MELROSE + CORNWALL</td>
                      <td><input  style="text-align: center;" class="form-control" type="number" placeholder="2"></td>
                      <td>4.650.000 đ</td>
                      <td>3.720.000 đ</td>
                      <td><i style="cursor:pointer;" class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top"
                          title="Remove"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><img style="width: 100px; height: 100px" src="../../../assets/img/product/dw00500244_no_wrapping.jpg"></td>
                      <td>CORNWALL + SHEFFIELD</td>
                      <td><input  style="text-align: center;" class="form-control" type="number" placeholder="1"></td>
                      <td>5.100.000đ</td>
                      <td>4.080.000đ</td>
                      <td><i style="cursor:pointer;" class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top"
                          title="Remove"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                <h3>Tổng tiền: 12.480.000 đ</h3>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-info">Đặt hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>