<div class="product-page">
  <div class="page-header" style="background-image: url('../../assets/img/slider/pexels-photo-414276.jpeg'); transform: translate3d(0px, 133.333px, 0px);"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding: 25px;margin-bottom: 50px;">
          <div class="container">
            <div class="row">
              <div id="product" class="col-md-12 mr-auto text-center">
                <h2>CÂU CHUYỆN CỦA CHÚNG TÔI</h2>
                <hr class="bottom-line">
                <img src="../../assets/img/slider/dw-lp-ming-banner-desk.jpg">
                <h3 style="margin-top: 30px;">CÂU CHUYỆN ĐẰNG SAU DANIEL WELLINGTON</h3>
                <hr class="bottom-line">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Đó là một cuộc họp ngẫu nhiên nửa vòng thế giới đem lại các ý tưởng cho Daniel Wellington. Trong
                  chuyến đi này, người sáng lập của chúng tôi Filip Tysander gặp một người đàn ông Anh hấp dẫn với
                  phong cách hoàn hảo nhưng khiêm tốn. Người đàn ông có một thị hiếu đặc biệt với những chiếc đồng hồ
                  cổ điển của ông về già, dây NATO. Tên của anh ấy là gì? Chính là Daniel Wellington
                </p>
                <p>
                  Lấy cảm hứng từ phong cách vượt thời gian của sự làm quen mới của mình, Filip quyết định tạo ra dòng
                  đồng hồ riêng của mình. Tối giản và tinh tế, các thiết kế cổ điển với dây có thể thay đổi cho nhau
                  thực sự có sức lôi cuốn trên diện rộng. Giờ đây một vài năm sau đó, thiết kế này vẫn là một phần quan
                  trọng của những gì làm cho Daniel Wellington trở nên rất đặc biệt.
                </p>
              </div>
            </div>
            <div class="row">
              <div id="product" class="col-md-12 mr-auto text-center">
                <h3>THIẾT KẾ</h3>
                <img src="../../assets/img/slider/pexels-photo-691640.jpeg">
                <hr class="bottom-line">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Daniel Wellington thích đeo đồng hồ của mình trên dây NATO cũ. Chúng tôi thích ý tưởng và cảm giác
                  của sự pha trộn nhiều đến nỗi chúng tôi muốn kết hợp các ý tưởng vào dòng sản phẩm riêng của đồng hồ.
                  Chúng tôi cảm thấy nó quan trọng để làm cho đồng hồ mỏng và thanh lịch - chúng tôi muốn có một thiết
                  kế rõ ràng, không có quá nhiều tính năng, hình thức đẹp với các hoa văn khác nhau và màu sắc của dây
                  NATO mang tính biểu tượng.
                  Sau khi trở về từ chuyến đi của mình, Filip ngồi xuống và bắt đầu nhìn vào sự kết hợp khác nhau ông
                  ấy thích.
                </p>
                <p>
                  Điều quan trọng là ông ấy yêu đồng hồ cá nhân, hoặc ông biết rằng ông không bao giờ có thể bán nó và
                  tự hào về nó.

                  Chậm nhưng chắc chắn, một chiếc đồng hồ xinh đẹp xuất hiện. Nó mỏng, tinh tế và hoàn toàn tròn. Nó
                  tối giản và không có quá nhiều tính năng. Chúng tôi tin rằng các thiết kế truyền thống, sắc nét chưa
                  pha trộn với nhau một cách hoàn hảo với dây đeo NATO đầy màu sắc và dây đeo da thanh lịch sẽ hấp dẫn
                  hầu hết mọi người với một ý nghĩa của thiết kế cổ điển và vô tận.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>