<div class="product-page">
  <div class="page-header" style="background-image: url('../../assets/img/slider/pexels-photo-714023.jpeg'); transform: translate3d(0px, 133.333px, 0px);"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="card" style="padding: 50px 25px 50px 25px;margin-bottom: 50px;">
          <h2>
            Error Not Found 404 !!! Pls come back homepage
          </h2>
          <div class="row">
            <div class="col-md-4 m-auto">
                <button class="btn btn-primary btn-round btn-block" [routerLink]="['/home']">Back Home</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
