<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <app-slider></app-slider>
    </div>
  </div>
  <br />

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div id="product" class="col-md-12 mr-auto text-center">
        <h2>Big Sales For Black Friday</h2>
        <hr class="bottom-line">
      </div>
    </div>

    <br />
    <div data-aos="zoom-in">
    <app-productsale></app-productsale>
    </div>

    <section id="collection" class="section-padding">

      <div class="row">
        <div class="col-md-12 mr-auto text-center">
          <h2>Collection</h2>
          <hr class="bottom-line">
        </div>
      </div>

      <app-collection></app-collection>

    </section>

  </div>
</div>